<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Layout</title>
    </head>
    <body>
        <header th:fragment="header">

          <!--  <nav>
                <ul>
                    <li>
                        <a th:href="@{/}">Main page</a>
                    </li>
                    <li>
                        <a th:href="@{/accounts}">Register</a>
                    </li>
                    <li>
                        <a th:href="@{/persons}">Persons</a>
                    </li>
                    <li>
                        <a th:href="@{/photos}">Picture album</a>
                    </li>
                    <li>
                        <a th:href="@{/messages}">Wall</a>
                    </li>
                </ul>
            </nav>-->
         
            <a th:href="@{/index}">Main page</a> | 
            <a th:href="@{/messages}">Wall</a>|    
            <a th:href="@{/account/friendships}">Friends</a> |
            <a th:href="@{/photos}">Picture album</a>|
            <a th:href="@{/accounts}">Register</a> |
            <!-- Show login link only for anonymous users -->
            <span sec:authorize="isAnonymous()">
              <a href="/login" th:href="@{/login}" class="btn-login">Login</a>|
            </span>
           <!-- <a href="/login">login|</a>-->
             <a href="/logout">logout</a>
            <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"></input>
            </form>
        
        </header>


        <section th:fragment="section">
            <h1>Super site!</h1>
            <p>Super site is one of the best sites on the internet now!</p>
        </section>



        <footer th:fragment="footer">
            &copy; Epic web developers paid by the hour!
        </footer>







    </body>
</html>