<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Accounts</title>
    </head>
    <body>
    <div th:replace="fragments/layout :: header"></div>
        
      <h2>Register account</h2>

        <form method="POST" th:action="@{/accounts}">    
             <p>name<input type="text" name="name"</input></p>
            <p>Profile name<input type="text" name="identifier"</input></p>
            <p>Username<input type="text" name="username"</input></p>
            <p>Password<input type="password" name="password"</input></p>
            <input type="submit" value="Add new account!"/>
        </form>  
      
    
    <h2>Accounts</h2>

        
    <!--   <ol>
            <li th:each="account : ${accounts}">
                 account: <span th:text="${account.id}">tilin id</span>, 
                username<span th:text="${account.username}">msg</span>
                 name<span th:text="${account.name}">msg</span>
                 Profile name identifier<span th:text="${account.identifier}">msg</span>
                 //password<span th:text="${account.password}">msg</span>
                Friends: <span th:text="${account.profiles.size()}">amount</span> 
            </li>
        </ol>-->
  <ol>
            <li th:each="account : ${accounts}">
                <a th:href="@{/account/{id}(id=${account.id})}">
                 account: <span th:text="${account.id}">tilin id</span>, 
                username<span th:text="${account.username}">msg</span>
                 name<span th:text="${account.name}">msg</span>
                 Profile name identifier<span th:text="${account.identifier}">msg</span>
                 password<span th:text="${account.password}">msg</span>
                Friends: <span th:text="${account.profiles.size()}">amount</span>  </a>
            </li>
        </ol>

    </body>
</html>
