<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Register')"></head>

    <body>

        <div th:replace="fragments/layout :: header"> <p>menu</p></div>
        <br> </br>

        <main>
            <section class="container">
               <h1>Fakebook</h1>
                <h2>Register account</h2>

                <form class="form"  method="POST" th:action="@{/accounts}"  th:object="${account}">  
                    
                     <p>name<input class="form-control col-sm-5" type="text"  th:field="*{name}" name="name"</input></p>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error message</td>
 
                     <p>Profile name<input  class="form-control col-sm-5" type="text"  th:field="*{profilename}" name="profilename"</input></p>
                       <td th:if="${#fields.hasErrors('profilename')}" th:errors="*{profilename}">profile error message</td>
                    
                    <p>Username: <input type="text"  class="form-control col-sm-5" th:field="*{username}"  name="username"</input></p>
                       <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error message</td>
                    
                    <p>Password<input type="password"  class="form-control col-sm-5 "th:field="*{password}" name="password"</input></p>
                       <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error message</td>
                    
                    
                    <input type="submit" class="btn btn-primary" value="Add new account!"/>
                </form>  


             <!-- TODO Showing links to friends account
             <h2>Accounts</h2>
                <ol>
                    <li th:each="account : ${accounts}">
                        <a th:href="@{/account/{id}(id=${account.id})}">

                            <p th:text="${account.username}">msg</p>
                            name:   <span th:text="${account.name}">msg</span>
                            Profile name identifier<span th:text="${account.profilename}">msg</span>
                            password: <span th:text="${account.password}">msg</span> 
                            account: <span th:text="${account.id}">tilin id</span>, 
                            Friends: <span th:text="${account.friendships.size()}">amount</span>  </a>
                    </li>
                </ol>-->

            </section>
        </main>
    </body>
</html>
