<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
 <head th:replace="fragments/layout :: head(title='Fakebook')"
       <link rel="stylesheet" th:href="@{/public/style.css}"/></head>

    <body>   
        <div th:replace="fragments/layout :: header"></div>
           </br>
        <div class="container"> 
        <h1>Fakebook</h1>
              </br>
        <a href="/login">login</a>
        <br/>
       <br/>
        <a href="/accounts">Register new account</a><br/>
   
        
       <!-- <h1 th:text="${'Hello ' + message}">Hello world</h1>-->



   </div>
    </body>
</html>
