<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Profile</title>
    </head>
    <body>

         <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"></input>
        </form>
        
        <h1>My profile</h1>

   
        <h1>Add your personal details</h1>
        
          <form th:action="@{/persons}" method="POST">
            <p>Profile name: <input type="text" name="profileName"></input></p>
            <p>Identifier: <input type="text" name="identifier"></input></p>
            <input type="submit" value="Add"></input>
        </form>
        
            <h1>Add new friend</h1>
     <ul>
            <li th:each="person: ${persons}">
                   <span th:text="${person.profileName}">msg</span>
                   by <span th:text="${person.user.username}">msg</span>
            </li>
        </ul>

            
    </body>
</html>
