
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Photos')"></head>

    <body>
        <div th:replace="fragments/layout :: header"></div>

        <br></br>
        <div class="container"> 

            <h1>Picture album by <span th:text="${user}">user</span> (<span th:text="${count}">count</span> images)</h1>


            <div th:if="${current != null}">  
                <img th:src="@{/photos2/{id}/content(id=${current})}"/>

            </div>

              <div th:if="${previous != null}">
                <a th:href="@{/photos2/{id}(id=${previous})}">Previous</a>

            </div>

            <div th:if="${next != null}">
                <a th:href="@{/photos2/{id}(id=${next})}">Next</a>
            </div> 



            <table>
                <thead>
                    <tr>
                        <!--    <th>Filename</th><th>Size</th><th>Content-Type</th><th>Delete</th>-->
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                        th:if="${myphotos.empty}">
                        <td colspan="4">No photos</td>
                    </tr>
                    <tr th:each="photo : ${myphotos}">
                        <td><a th:href="@{/photos/{id}(id=${photo.id})}" th:text="${photo.description}">description</a></td>
                        <td th:text="${photo.description}">description</td>
                        <td><form th:action="@{/photos/{id}(id=${photo.id})}" th:method="delete">
                                <input type="submit" class="btn btn-danger"  value="Delete"/></form></td>


                        <td> <form th:action="@{/photos/{id}/profilepicture(id=${photo.id})}" th:method="PUT">
                                <input type="submit"  class="btn btn-primary" value="Add profile picture"/></form></td>


                    </tr>
                </tbody>
            </table>


        <br></br>

            <h2>Add new picture</h2>

            <form method="POST" action="/photos" enctype="multipart/form-data">
                <input type="file" name="file" id="file"/>   
                <p>Description: <input type="text"  class="form-control col-sm-5" name="description"</input></p> 
                <input type="submit"  class="btn btn-primary" value="Add"/>          
            </form>



        </div>
    </body>
</html>