<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='wall')"></head>


    <body>
        <div th:replace="fragments/layout :: header"></div>

        <div class="container"> 
            </br>

            <h1> <span th:text="${username}">username</span>'s wall</h1>
            <h2>profile picture:</h2>

            <!-- <h1  th:text="${profilePicture}">profile</h1> -->

            <div th:if="${current != null}">
                <img th:src="@{ /messages/photos/{id}/content(id=${current})}" width=auto height=300/>

            </div>

            <p>TODO tykkäysnappulat kuvaan ja viesteihin</p>
            <p>TODO kommentointi kuvaan ja viesteihin</p>
            <!--Kommentointi tapahtuu viestin ja kuvan yhteydessä olevan kommentointikentän avulla. 
            Kuvien ja viestien yhteydessä näytetään aina korkeintaan 10 uusinta kommenttia.-->


            <h3>Send message</h3>

            <form class="form"  th:action="@{/messages}" method="POST">
                  <label for="exampleFormControlTextarea1">Message content:</label>
                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"  input type="text" name="message" ></textarea>
            </br>
                 <input type="submit" class="btn btn-primary" value="Add"/>
            </form>
            </br>
            <h2>Past messages</h2>
         

            <ul>
                <li th:each="message : ${messages}">
                    <span th:text="${message.message}">msg</span> 
                    <span th:text="${message.messageDate}">date</span>
                    - <span th:text="${message.user.username}">username</span>

                </li>
            </ul>
            <div>
                </body>
                </html>
