<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Wall</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        
         <h1> <span th:text="${username}">username</span>'s wall</h1>
           <h2>profile picture:</h2>
          
          <!-- <h1  th:text="${profilePicture}">profile</h1> -->
         
        <div th:if="${current != null}">
            <img th:src="@{ /messages/photos/{id}/content(id=${current})}" width=auto height=300/>
   
        </div>
 
        <p>TODO tykkäysnappulat kuvaan ja viesteihin</p>
        <p>TODO kommentointi kuvaan ja viesteihin</p>
        <!--Kommentointi tapahtuu viestin ja kuvan yhteydessä olevan kommentointikentän avulla. 
        Kuvien ja viestien yhteydessä näytetään aina korkeintaan 10 uusinta kommenttia.-->


        <h1>Send message</h1>

        <form th:action="@{/messages}" method="POST">
            <p>Content: <input name="message"></input></p>
            <input type="submit" value="Add"></input>
        </form>

        <h1>Past messages</h1>

        <ul>
            <li th:each="message : ${messages}">
                <span th:text="${message.message}">msg</span> 
                <span th:text="${message.messageDate}">date</span>
                - <span th:text="${message.user.username}">username</span>

            </li>
        </ul>
    </body>
</html>
